
#video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(150%) brightness(45%);
    z-index: -1;
    
}
  
.gallery-header {
    margin: 5rem 0 3.125rem;
    text-align: center;
    color:#F6F5F5;
    font-size: 3.125rem;
    font-weight: 400;
}

.main-gallery-txt {
    margin: 5.75rem 0;
    color: #F6F5F5;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
    color: white; /* Text color */
    display: none; /* Initially hidden */
    transition: opacity 0.3s; /* Add transition for smooth effect */
}

.card:hover .card-img-overlay {
    display: block; /* Show on hover */
    height: 40%;
}


.gallery-img {
    transition: transform 0.5s ease;
}

.gallery-img:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
    
}

.gallery-container {
    display: flex; 
    flex-direction: column; /* Stack children vertically */
    height: auto; /* Let the container adjust its height based on content */
    margin-bottom: 1.25rem;
}

.gallery-item-card {
    border: 1px solid #9a0f0f; 
    background-color: transparent;
}

.form-control {
    background-color: #9a0f0f;
    border-radius: 0;
    color: white;
    border: none;
}

.btn-edit {
    background-color:#9a0f0f;
    color:white; 
    border-radius: 0; 
    margin-top: 5px;
}
.btn-edit:hover {
    background-color: transparent;
    border: 1px solid #9a0f0f;
    color: #9a0f0f;
}

.gallery-item-title {
    text-align: center; 
    margin-top: 3%;
    color: #F6F5F5;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.gallery-item-description {
    text-align: center; 
    margin: 0 15%;
    color: #F6F5F5;
}



/* For tablet */
@media only screen and (max-width: 990px) {
    .gallery-header {
        margin: 3.75rem 0 2.1875rem;
        font-size: 2.5rem;
    }

}



/* for mobile screen */
@media only screen and (max-width: 675px) {
    .gallery-header {
        margin: 2.5rem 0 1.875rem;
        font-size: 1.875rem;
    }

    .gallery-item-title {
        margin-top: 7%;
        font-size: 1.5rem;
    }
      
}