
#video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(150%) brightness(45%);
    z-index: -1;
    
}

.gallery-header {
    margin: 80px 0 50px;
    text-align: center;
    color:#F6F5F5;
    font-size: 70px;
    font-weight: 400;
}

.main-gallery-txt {
    margin: 92px 0;
    color: #F6F5F5;
}


.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
    color: white; /* Text color */
    display: none; /* Initially hidden */
    transition: opacity 0.3s; /* Add transition for smooth effect */
}

.card:hover .card-img-overlay {
    display: block; /* Show on hover */
    height: 40%;
}


.gallery-img {
    transition: transform 0.5s ease;
}

.gallery-img:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
    
}

.gallery-container {
    
    display: flex; 
    flex-direction: column; /* Stack children vertically */
    height: auto; /* Let the container adjust its height based on content */
    margin-bottom: 20px;
}