{% extends 'layouts/base.html'%}


{% block content %}
  <div class="container-md product-box">
    <div class="baner-box">
      <h1 class="shop-baner"> Find your favorite one! </h1>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
      {% for product in products%}
      <div class="col">
        <div class="card h-100">
          <img src="{{ url_for('static', filename='img/' + product.img) }}" class="card-img-top" alt="{{product.title}}" style="height: 55%;">
          <div class="card-body">
            <h5 class="card-title">Product name: {{ product.title}}</h5>
            <p class="card-text"> Price: {{ product.price}}</p>
            <a href="{{ url_for('product.product', id=product.id)}}" class="btn btn-primary">Buy Now</a>
            <a href="{{ url_for('product.product', id=product.id)}}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
    // Change navbar color on scroll
    window.addEventListener('scroll', function () {
        var navbar = document.querySelector('.navbar');
        if (window.scrollY > 50) {
            navbar.style.backgroundColor = '#222222'; // Change to your desired color
        } else {
            navbar.style.backgroundColor = 'transparent'; // Change to your initial color
        }
    });
  </script>

{% endblock %}