{% extends 'layouts/base.html' %}


{% block content %}

{% set video_filename = 'Video.Guru_20240103_175305601.mp4' %}
    <div class="container-fluid">
        <video id="video-background" autoplay="" loop="" muted="" type="video/mp4" >
            <source src="{{ url_for('static', filename='video/' + video_filename) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="container-md">
        <p class="main-gallery-txt">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
    </div>
    <div class="line-container" style="margin-bottom: 30px;">
        <div class="line"></div>
    </div>
    <h2 class="gallery-header">VIEW  <span style="font-style: italic;">IMAGES</span></h2>

    <div class="container-fluid gallery-container mb-5">
        <div class="container-md mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for item in gallery_items %}
                <div class="col">
                    <div class="card h-100" style="border: 1px solid #9a0f0f; background-color: transparent;">
                        <img src="{{ url_for('static', filename='img/' + item.img) }}" class="card-img-top gallery-img zoomable" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title gallery-item-title" style="text-align: center; margin-top: 4%;">{{ item.title }}</h5>
                            <p class="card-text gallery-item-description" style="text-align: center;"><small>{{ item.description }}</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>


    <!-- Add the script to initialize medium-zoom -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            mediumZoom('.zoomable');
        });
    </script>

    
<!-- <script>
    // Change navbar text color on scroll
   window.addEventListener('scroll', function () {
     var navbar = document.querySelector('.navbar');
     var navbarLinks = navbar.querySelectorAll('.nav-link'); // Selecting all navbar links with the class 'nav-link'

     if (window.scrollY > 50) {
         navbar.classList.remove('navbar-dark');
         navbar.classList.add('navbar-light');
         navbarLinks.forEach(function(link) {
             link.style.color = '#f4583f'; // Change to your desired text color when scrolled
         });
     } else {
         navbar.classList.remove('navbar-light');
         navbar.classList.add('navbar-dark');
         navbarLinks.forEach(function(link) {
             link.style.color = '#ffffff'; // Change to your desired text color when not scrolled
         });
     }
   });
 </script> -->


 

   
{% endblock %}